.frontsec {
    display: flex;
    align-items: stretch; /* important */
    min-height: 90vh;
    background-color: var(--section-bg);
    border-bottom: 3px solid var(--border-color);
}

.frontsec .fs-left {
    width: 65%;
}

.frontsec .fs-right {
    border-left: 3px solid var(--border-color);
    width: 35%;
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.frontsec .fs-right h2 {
    padding: 20px;
}
.frontsec .fs-right ul {
    list-style: none;
    padding: 20px;
}
